<div class="recharge-container">
  <div class="recharge-header clearfix">
    <div class="recharge-title">
      预存款充值
    </div>
    <div class="recharge-steps">
      <span class="current">1.填写充值金额</span>
      <span class="current">2.选择支付方式</span>
      <span>3.充值成功</span>
    </div>
  </div>
  <div class="recharge-content recharge-pay">
    <form class="recharge-form" action="<{url action=topc_ctl_member_deposit@doRecharge}>" method="post">
      <input type='hidden' name='amount' value='<{$amount}>'>
      <div class="form-title">选择支付方式</div>
      <div class="form-group">
        <ul class="paytype">
          <{foreach from=$payments item=payment}>
          <label><li><input type="radio" name="pay_app_id" value='<{$payment.app_id}>'><img src="<{$payment.img|storager}>" alt="<{$payment.app_name}>"></li></label>
          <{/foreach}>
        </ul>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-danger btn-block"><span><span>下一步</span></span></button>
      </div>
    </form>
  </div>
</div>
